// Importing the component files
@import "components/mixins";
@import "components/variables";
@import "components/for";

/*universal selector: including content*/
*,
*::before{
    margin:1px;
    padding:0px;
    box-sizing:border-box;
  
    /* Amb això ens asegurem que funciona per tots els navegadors */
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.body{
  @include body;
}
    .stripes_container{
        @include  stripes_container;
    }
        // Stripes pseudoclass child: background color and stripe opacity position 
        .stripes_content:nth-child(1) {
            left:0;
            @include stripes_content($color1);
        }

        .stripes_content:nth-child(2){
            left:20vw;
            @include stripes_content($color2);
        }

        .stripes_content:nth-child(3){
            left:40vw;
            @include  stripes_content($color3);
        }

        .stripes_content:nth-child(4){
            left:60vw;
            @include  stripes_content($color4);
        }

        .stripes_content:nth-child(5){
            left:80vw;
            @include stripes_content($color5);
        }
    
